.tableContainer {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 20px;
}

.caption {
    display: block;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    padding: 14px;
    background-color: var(--background);
    border-radius: 8px 8px 0 0;
}

.tableWrapper {
    padding: 0 14px 0 14px;
    background-color: var(--background-3);
    border-radius: 0 0 8px 8px;
    border: 1px solid rgba(29, 30, 33, 0.1);
    border-top: none;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: rgba(29, 30, 33, 0.4);
    text-align: left;
    padding-top: 14px;
    padding-bottom: 14px;
}

.table thead {
    border-bottom: 2px solid rgba(29, 30, 33, 0.1);
}

.table tr {
    border-bottom: 1px solid rgba(29, 30, 33, 0.1);
}

.table tr:not(:last-child) {
    border-bottom: 1px solid rgba(29, 30, 33, 0.1);
}

.table td {
    width: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    padding-top: 14px;
    padding-bottom: 14px;
}

.table td:last-child {
    text-align: right;
}

.table td:not(:first-child) {
    padding-left: 10px;
}

.table td:not(:last-child) {
    padding-right: 10px;
}

.table td:first-child {
    vertical-align: top;
}

.table tr:last-child {
    border-bottom: none;
}

.status {
    padding: 4px 17px;
    border-radius: 40px;
    letter-spacing: -0.05em;
    text-align: center;
}

.status.income {
    background-color: rgba(89, 177, 122, 0.1);
    color: var(--accent);
}

.status.expense {
    background-color: rgba(232, 80, 80, 0.1);
    color: var(--accent-2);
}

.status.error {
    background-color: rgba(29, 30, 33, 0.1);
    color: var(--main-black);
}

.amount {
    color: var(--accent);
}

.amount.negative {
    color: var(--accent-2);
}

.amount.absent {
    color: var(--main-black);
    text-decoration: line-through;
}