.wrapper {
    padding-top: 40px;
    padding-bottom: 20px;
}

.filterWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
}

.addSupBtn {
    margin-top: -22px;
    padding: 13px 30px;
    background-color: transparent;
    border: 1px solid var(--accent);
    border-radius: 60px;
    line-height: 150%;
    max-width: 177px;
}

@media (min-width: 768px) {
    .wrapper {
        padding-top: 50px;
        padding-bottom: 32px;
    }
    
    .filterWrapper {
        display: flex;
        flex-direction: row;
        gap: unset;
        justify-content: space-between;
    }
    
    .addSupBtn {
        margin-top: unset;
        font-size: 14px;
        line-height: 129%;
        max-width: 196px;
    }
}