.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    overflow: hidden;
    padding-top: 24px;
    padding-bottom: 24px;
}

.wrapper::before,
.wrapper::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.wrapper::before {
    background-image: url("/pill.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 95px;
    height: 93px;
    top: 160px;
    right: 40px;
}

.wrapper::after {
    background-image: url("/back.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 465px;
    height: 345px;
    bottom: -199px;
    right: -206px;
}

.logoWrapper {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 148px;
    position: relative;
    z-index: 1;
}

.logo {
    width: 44px;
}

.logoText {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: var(--main-black);
}

.title {
    font-weight: 600;
    font-size: 28px;
    line-height: 121%;
    position: relative;
    max-width: 324px;
    z-index: 1;
    span {
        color: var(--accent);
    }
}

@media (min-resolution: 192dpi) {
    .wrapper::before {
        background-image: url("/pill@2x.png");
    }

    .wrapper::after {
        background-image: url("/back@2x.png");
    }
}

@media (min-width: 768px) {
    .wrapper {
        gap: 50px;
    }

    .wrapper::before {
        width: 179px;
        height: 175px;
        top: 168px;
        right: 141px;
    }

    .wrapper::after {
        width: 465px;
        height: 345px;
        bottom: -82px;
    }

    .logoWrapper {
        margin-bottom: 204px;
    }

    .title {
        font-size: 54px;
        line-height: 111%;
        max-width: 614px;
    }
}

@media (min-width: 1440px) {
    .wrapper {
        flex-direction: row;
        gap: 150px;
        padding-top: 28px;
        padding-bottom: 242px;
    }

    .wrapper::before {
        top: 194px;
        right: 745px;
    }

    .wrapper::after {
        right: -185px;
        bottom: -88px;
    }

    .logoWrapper {
        margin-bottom: 226px;
    }
}
