.wrapper {
    padding-top: 40px;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .wrapper {
        padding-top: 50px;
        padding-bottom: 32px;
    }

    .filterWrapper {
        margin-bottom: 20px;
    }
}

@media (min-width: 1440px) {
    .wrapper {
        padding-top: 75px;
        padding-bottom: 40px;
    }

    .paginationDots {
        margin-bottom: unset;
    }
}
