:root {
    font-family: "Inter", sans-serif;

    --main-black: #1d1e21;
    --accent: #59b17a;
    --accent-2: #e85050;
    --text: #dcdddf;
    --background: #e7f1ed;
    --background-2: #f7f8fa;
    --background-3: #ffffff;
    --hover: #3f945f;

    --completed: var(--accent);
    --confirmed: #8059e4;
    --pending: #f79042;
    --cancelled: var(--accent-2);
    --processing: #70a6e8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}

body {
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    color: var(--main-black);
    margin: 0;
}

.container {
    max-width: 375px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--background-2);
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
        line-height: 112%;
    }

    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
